<div class="pawa2_u_dashboard">
    <div class="pawa2_u_dashboard_section_1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-6 col-sm-6 col-6">
            <div class="pawa2_u_dash_title">
              Edit macup Fee Type
            </div>
          </div>
          <div class="col-md-6 col-xs-6 col-sm-6 col-6">
          </div>
        </div>
      </div>
    </div>
    <div class="pawa2_u_dashbaord_section_style_2">
      <div class="container">
        <div class="row">
  
          <div class="col-md-12">
  
                <div class="row">
                  <div class="col-md-10">
  
                    <form [formGroup]="formData" (ngSubmit)="formData.valid && submitForm()">
  
  
  
                      <div class="row">
  
  
                        <div class="col-md-12 mb-4">
                          <label class="label_ctr">MacUp Fee Type Name</label>
                          <input class="form-control form_styler" formControlName="name">
  
  
                         <div class="validate_input" *ngIf="formData.get('name').hasError('required') && formData.get('name').touched">
                          This filed is required
                        </div>
  
                        </div>
  
  
                        <div class="col-md-12">
                          <button class="btn btn-small save_btn">Edit MacUp Fee Type</button>
                        </div>
  
                  </div>
                      </form>
                  <div class="col-md-2">
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  