<div class="pawa2_u_dashboard">
  <div class="pawa2_u_dashboard_section_1_login_ct">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="login_section">
            <div class="login_section_image">
              <img src="../../../../assets/img/admin_logo.svg">
            </div>

            <div class="logi_the_section_head">
              Resource not found
            </div>
            <div class="logi_the_section_paragraph">
              Sorry the resource you are looking for has been moved or deleted, please try again later or refresh this page.
            </div>


            <div class="login_the_section_form">

                <div class="row">
                  <div class="col-md-12">
                    <button (click)="takeMeHome()" matRipple class="login_section_btn">Take me home</button>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
