.the_sort_header_date.hold_big_menu.mat-menu-trigger.mat-button.mat-button-base {
  width: 180px !important;
}

.the_selection_bar.col-md-12.hold_big_menu_outer .mat-menu-panel {
  min-width: 179px;
}

.the_selection_bar.col-md-12.hold_big_menu_outer .mat-menu-panel button {
  font-size: 13px;
}
