<div class="pawa2_u_dashboard">
  <div class="pawa2_u_dashboard_section_1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6 col-6">
          <div class="pawa2_u_dash_title">
            Transactions
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pawa2_u_dashbaord_section_2">
    <div class="container">
      <div class="row">

        <div class="item_counters col-md-12 mb-5">
          <div class="row">

            <div class="col-md-3">

            </div>

          </div>
        </div>


        <div class="the_selection_bar col-md-12 hold_big_menu_outer">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                  <form>
                    <div class="row padding_top_small_screen">
                      <div class="col-md-7 col-7">
                        <input type="text" class="form-control style_2" placeholder="Search Reference, Product, Vendor">
                      </div>
                      <div class="col-md-5 col-5 shift_big_screen">
                        <button class="btn btn-small btn-primary the_action_btn">Search  Transaction</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="handle_form_list table-responsive main_tb">
            <mat-table matTableResponsive class="handle_form_table_list col-md-12 table-responsive table "
              [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="PaymentReference">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reference </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentReference.substr(0,5)}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="ProductDetail">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productDetail}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="BusinessName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.businessName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="AmountPayable">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amountPayable}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="PaymentDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paymentDate| date}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator class="mat-paginator-container-pg" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
