<div class="pawa2_u_dashboard">
  <div class="pawa2_u_dashboard_section_1_login_ct">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="login_section">
            <a [routerLink]="['/']">
              <div class="login_section_image">
                <img src="assets/img/admin_logo.svg">
              </div>
            </a>

            <div class="logi_the_section_head">
              Forgot Your Password?
            </div>

            <div class="logi_the_section_paragraph">
              Enter your email address and we’ll send you instructions on how to reset your password.
            </div>

            <div class="login_the_section_form">
              <form [formGroup]="formData" (ngSubmit)="formData.valid && submitForm()">
                <div class="row">
                  <div class="col-md-12">
                    <input formControlName="email" class="form-control login_zone" placeholder="Email">

                    <div class="validate_input" *ngIf="formData.get('email').hasError('required') && formData.get('email').touched">
                      Email is required
                    </div>

                    <div class="validate_input" *ngIf="formData.get('email').hasError('pattern')">
                      Please enter a valid email address
                    </div>

                    <div class="validate_input" *ngIf="formData.get('email').hasError('maxLength')">
                      Please enter a valid email address
                    </div>

                  </div>

                  <div class="col-md-12">
                    <button [disabled]="formData.invalid || loadingRequest == true" matRipple class="login_section_btn">
                      <div *ngIf="loadingRequest == false; else spinner">
                        Reset Password
                      </div>

                      <ng-template #spinner> <mat-spinner  [diameter]="27" class="spinner_loader"></mat-spinner> </ng-template>
                    </button>
                  </div>

                  <div class="reset_pword col-md-12">
                    <a [routerLink]="['/login']">Already have an account ?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
